input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cutive Mono", monospace;
  font-size: 24px;
  color: #ff0800;
  background-color: black;
}

#root{
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem;
  margin-bottom: 0;
  text-align: center;
  min-height: 250px;
  height: 200px;
}
#header img {
  height: 150px;
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 2em;
}
.box{
  height: 30vh;
  width: 30vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.inputBox {
  position: relative;
}

form{
  width: 320px;
  font-size: 16px;
}
.inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: "Cutive Mono", monospace;
}

.inputBox label {
  top: -30px;
  left: 0;
  color: white;
  font-size: 18px;
  position: absolute;
  letter-spacing: 1px;
  padding: 10px 0;
}

button {
  margin-top: 25px;
  border: none;
  outline: none;
  color: white;
  background: #f40303ec;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 19px;
  font-family: "Cutive Mono", monospace;
}

select{
  background-color: transparent;
  color: white;
  font-family: "Cutive Mono", monospace;
  font-size: 18px;
  width: 17.5em;
  padding: 4px 0;
  text-align-last:center;
}

#thx{
  padding-top: 40px;
}

.footer-container {
  background-color: black;
  box-sizing: border-box;
  text-align: center;
  padding: 30px 45px;
}

.footer-left p {
  color: #B31B1B;
  font-size: 16px;
  margin: 0;
  font-family: "Cutive Mono", monospace;
}

.footer-right a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 2px;
  font-size: 34px;
  color: #B31B1B;
  text-align: center;
  line-height: 30px;
  margin: 0px 5px;
  transition:all .25s;
}


.footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

/* Media Queries */

@media (max-width: 600px) {
.footer-left, .footer-right {
    text-align: center;
  }
.footer-right {
    float: none;
    margin: 0 auto 20px;
  }
.footer-left p.footer-links {
    line-height: 1.8;
  }
}
